.admin {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.container {
  text-align: center;
  justify-content: center;
  margin-left: 300px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  background: #1c3988;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #1c3988;
  color: whitesmoke;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4f5f64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #6e8ae9;
}

.editButton {
  background: #fff;
  border: none;
  border-radius: 0.25em;
  color: #1c3988;
  cursor: pointer;
  font-size: 0.85em;
  padding: 0.65em 1em;
  transition: background 0.25s ease;
  width: 60px;
}
