.offerListContainer {
  margin: 0 10%;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.offerSection {
  height: 110vh;
  background-color: #f3f3fa;
  padding: 20px;
}

.aboutSection {
  height: 100vh;
  background-color: white;
  padding: 20px;
}

.aboutContainer {
  height: 90%;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.aboutImage {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.aboutText {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #1c3988;
  font-family: "Merriweather", serif;
  padding: 0 20px 20px 20px;
  text-align: justify;
  font-size: 24px;
  flex-direction: column;
}

.aboutText p {
  padding: 10% 20% 15% 20%;
}
h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #1c3988;
}

h2 {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #1c3988;
  padding-top: 20px;
  font-size: 30px;
}
