.offerContainer {
  display: flex;
  flex-direction: column;
  height: 45vh;
  width: 330px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out forwards;
  cursor: pointer;
  border-radius: 5%;
  margin-right: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.offerContainer:hover {
  transform: scale(1.05) !important;
}

.offerImage {
  width: 100%;
  height: 80%;
  border-radius: 10%;
  object-fit: cover;
}

.offerImage img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.offerDescription {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.like {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 89%;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

h3 {
  font-family: "Merriweather", serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

p {
  font-family: "Merriweather", serif;
  color: black;
  font-size: 20px;
}
